
.side-body {
    display: flex;
    height: 100hv;
    overflow: hidden;
}
 
.side-aside {
    width: 230px;
    height: 100vh;
    background-color: rgba(245, 19, 19, 0.79);
    padding: 22px 20px 0px 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between; 
    position: relative;
    overflow: hidden; 
    flex-shrink: 0;
    box-shadow: 0 0 20px rgba(70, 64, 64, 0.773) !important;
}

.aside-title {
    width: 135px;
    padding-bottom: 10px;
    color: white;
    padding-left: 3px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.aside-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-btn {
    padding: 20px 20px;
    border-radius: 15px;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease; 
    cursor: pointer;
    z-index: 1;

}

.nav-username {
    padding: 20px 20px;
    border-radius: 15px;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease; 
    cursor: pointer;
    z-index: 1;
}

.nav-btn:hover {
    background-color: white;
    color: rgb(245, 58, 58);
}

.logout-btn {
    width: 100%;
    background-color: #ffffff;
    color: rgb(245, 58, 58);
    padding: 20px 20px;
    border-radius: 15px;
    bottom: 20px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.logout-btn:hover {
    border: none !important;
    color: rgb(245, 58, 58) !important;
    padding: 20px 20px;
}

.aside-background::after {
    content: "";
    position: absolute;
    background-image: url(../../../public/assets/nomadlogo.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 100px;
    left: -140px;
    width: 350px;
    height: 350px;
    z-index: 0;
}

.aside-background::before {
    content: "";
    position: absolute;
    background-image: url(../../../public/assets/nomadlogo.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    top: 100px;
    left: 10px;
    width: 350px;
    height: 350px;
    z-index: 0;
}
 
.side-right {
    width: 100%; 
}

.circle1 {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}
  
.circle-red-top-right1 {
    width: 800px;
    height: 800px;
    background-color: rgba(248, 103, 103, 0.3);
    bottom: -300px;
    right: -150px;
    z-index: -1;
    box-shadow: 0 0 20px rgba(187, 187, 187, 0.533) !important;
}
  
.circle-white-overlap1 {
    width: 600px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.68);
    top: 200px;
    right: -200px;
    z-index: -2;
}
  
.circle-white-bottom-left1 {
    width: 900px;
    height: 900px;
    background-color: rgba(255, 255, 255, 0.656);
    bottom: -300px;
    left: -200px;
    z-index: -3;
}

.groups-wrapper {
    width: max-content;
    border-radius: 15px;
    color: white;
    transition: background-color 0.2s ease, color 0.1s ease; 
    cursor: pointer;
    z-index: 1;
}

.groups-wrapper.hovered,
.groups-wrapper.open {
    width: max-content;
    background-color: rgba(255, 255, 255, 0.555);
    color: rgb(245, 58, 58);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
  
.groups-wrapper.open .nav-btn1 {
    color: rgb(245, 58, 58);  
    background-color: #ffffff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.groups-wrapper.open .nav-btn1:hover {
    color: rgb(245, 58, 58);  
    background-color: #ffffff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.group-list {
    gap: 10px;
    border-radius: 15px ;
}
  
.group-link {
    padding: 20px 0 20px 20px;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: inherit; 
    border-bottom: 1px solid #ffffff;
}
  
.group-link:hover {
    background-color: white;
    color: rgb(245, 58, 58);
}

.nav-btn1 {
    display: flex;
    padding: 20px 20px;
    width: 200px;
    color: white;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
}

.nav-btn1:hover {
    padding: 20px 20px;
    background-color: white;
    border-radius: 15px;
    color: rgb(245, 58, 58);
}

.group-link:last-child {
    border-bottom: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
  


